In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\programdata\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (2.25.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
import requests
import os
import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer
import re

# Gather

Open the twitter archive enhanced csv file

In [3]:
df_twit_arch = pd.read_csv('twitter-archive-enhanced.csv')
df_twit_arch.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

Download the image prediction data and show it

In [4]:
folder_name = 'image_predictions'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

In [5]:
with open('image-predictions.tsv', mode='wb') as outfile:
    outfile.write(response.content)

In [6]:
images = pd.read_csv('image-predictions.tsv', sep='\t', encoding='utf-8')

In [7]:
images.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [8]:
# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
# consumer_key = 'HIDDEN'
# consumer_secret = 'HIDDEN'
# access_token = 'HIDDEN'
# access_secret = 'HIDDEN'

In [9]:
# auth = OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)

# api = tweepy.API(auth, wait_on_rate_limit=True)

In [10]:
# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
# tweet_ids = df_twit_arch.tweet_id.values
# len(tweet_ids)

In [11]:
# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
# count = 0
# fails_dict = {}
# start = timer()
# # Save each tweet's returned JSON as a new line in a .txt file
# with open('tweet_json.txt', 'w') as outfile:
#     # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#     for tweet_id in tweet_ids:
#         count += 1
#         print(str(count) + ": " + str(tweet_id))
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             print("Success")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepError as e:
#             print("Fail")
#             fails_dict[tweet_id] = e
#             pass
# end = timer()
# print(end - start)
# print(fails_dict)

In [12]:
df_list = []
with open('tweet-json.txt') as file:
    for line in file:
        data = json.loads(line)
        keys = data.keys()
        user = data.get('user')
        id_str = data.get('id_str')
        retweet_count = data.get('retweet_count')
        favorite_count = data.get('favorite_count')
        df_list.append({'id_str': id_str,
                        'retweet_count': retweet_count,
                        'favorite_count': favorite_count})

In [13]:
tweet_count = pd.DataFrame(df_list, columns = ['id_str', 'retweet_count', 'favorite_count'])

Now that all three tables have been created, we'll procede with the assessment.

# Assess

First I'll look at the three tables and see if just by seeing them I can see some clear problems.

In [14]:
df_twit_arch

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [15]:
images

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [16]:
tweet_count

                  id_str  retweet_count  favorite_count
0     892420643555336193           8853           39467
1     892177421306343426           6514           33819
2     891815181378084864           4328           25461
3     891689557279858688           8964           42908
4     891327558926688256           9774           41048
...                  ...            ...             ...
2349  666049248165822465             41             111
2350  666044226329800704            147             311
2351  666033412701032449             47             128
2352  666029285002620928             48             132
2353  666020888022790149            532            2535

[2354 rows x 3 columns]

### **Quality**

- `df_twit_arch`

  - Following columns have NaN values: 
    - `in_reply_to_status_id`
    - `in_reply_to_user_id`
    - `retweeted_status_id`
    - `retweeted_status_user_id`
    - `retweeted_status_timestamp`
  
  - Column *floofer* should be *floof*
  
  - Dog stage *floofer* should be *floof*
  
  - Dog stages (`doggo`, `floofer`, `pupper`, `puppo`) should be in one column (such as one named `stages`)
  
- `images`

  - Following columns have uppercase and lowercase values (inconsistently)
    - `p1`
    - `p2`
    - `p3`

### **Tidiness**

- `tweet_count` should merge with `df_twit_arch`. The data in those tables is related.

Now I'll make a programatic assessment of the tables.

In [17]:
df_twit_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [18]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [19]:
tweet_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_str          2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB

In [20]:
df_twit_arch.name.value_counts()

None        745
a            55
Charlie      12
Lucy         11
Oliver       11
           ...
Odin          1
Miguel        1
Banditt       1
Trevith       1
Napolean      1
Name: name, Length: 957, dtype: int64

In [21]:
df_twit_arch.doggo.value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [22]:
df_twit_arch.floofer.value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [23]:
df_twit_arch.pupper.value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [24]:
df_twit_arch.puppo.value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

In [25]:
df_twit_arch.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [26]:
df_twit_arch.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [27]:
images.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [28]:
tweet_count.describe()

       retweet_count  favorite_count
count    2354.000000     2354.000000
mean     3164.797366     8080.968564
std      5284.770364    11814.771334
min         0.000000        0.000000
25%       624.500000     1415.000000
50%      1473.500000     3603.500000
75%      3652.000000    10122.250000
max     79515.000000   132810.000000

In [29]:
df_twit_arch.duplicated().any()

False

In [30]:
images.duplicated().any()

False

In [31]:
tweet_count.duplicated().any()

False

### **Quality**

- `df_twit_arch`

  - `timestamp` should be *datetime64* dtype.
  
  - In the `name` column there are a lot of missing values (*None*) and some values that don't make sense (like *a*).
  
  - The following columns have missing values (less than 2354 values):
    - `doggo` (2259)
    - `floofer` (2346)
    - `pupper` (2099)
    - `puppo` (2326)
    - `tweet_id` should be *object* dtype.
  
- `tweet_count`

  - `id_str` is not a clear name, and it's different to the one in the other table.
  

  

### **Tidiness**

- `df_twit_arch`

  - `source` has too much information in it, and it's too cluttered.

Therefore, putting all quality and tidiness issues together we get the following:

## All assessment

### **Quality**

- `df_twit_arch`

  - Following columns have NaN values: 
    - `in_reply_to_status_id`
    - `in_reply_to_user_id`
    - `retweeted_status_id`
    - `retweeted_status_user_id`
    - `retweeted_status_timestamp`
  
  - *floofer* should be *floof*
  
  - Dog stage *floofer* should be *floof*
  
  - Dog stages (`doggo`, `floofer`, `pupper`, `puppo`) should be in one column (such as one named `stages`)
  
  - `timestamp` should be *datetime64* dtype.
  
  - In the `name` column there are a lot of missing values (*None*) and some values that don't make sense (like *a*).
  
  - The following columns have missing values (less than 2354 values):
    - `doggo` (2259)
    - `floofer` (2346)
    - `pupper` (2099)
    - `puppo` (2326)

  - `tweet_id` should be *object* dtype.
  
- `images`

  - Following columns have uppercase and lowercase values (inconsistently)
    - `p1`
    - `p2`
    - `p3`
    
- `tweet_count`

  - `id_str` is not a clear name, and it's different to the one in the other table.

### **Tidiness**

- `tweet_count` should merge with `df_twit_arch`. The data in those tables is related.

- `df_twit_arch`

  - `source` has too much information in it, and it's too cluttered.

# Clean

## Quality issues

*Define*

First I will create duplicates of the tables and I will work with them exclusively.

*Code*

In [32]:
arch_clean = df_twit_arch.copy()
images_clean = images.copy()
tweet_clean = tweet_count.copy()

*Test*

In [33]:
arch_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [34]:
images_clean.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

In [35]:
tweet_clean.head(2)

               id_str  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819

## Quality issues

### `arch_clean` / `df_twit_arch`

*Define*

Now I will remove the retweets, replies to original tweet and replies to replies (since they won't be necessary for the analysis) by removing the rows with duplicated text and then entirely removing the following columns:

- `in_reply_to_status_id`
- `in_reply_to_user_id`
- `retweeted_status_user_id`
- `retweeted_status_timestamp`

*Code*

In [36]:
arch_clean[(pd.isnull(arch_clean.in_reply_to_status_id))]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [37]:
arch_clean = arch_clean[(pd.isnull(arch_clean.in_reply_to_status_id))]
arch_clean = arch_clean[(pd.isnull(arch_clean.in_reply_to_user_id))]
arch_clean = arch_clean[(pd.isnull(arch_clean.retweeted_status_user_id))]
arch_clean = arch_clean[(pd.isnull(arch_clean.retweeted_status_timestamp))]

In [38]:
arch_clean = arch_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis = 1)

*Test*

In [39]:
arch_clean

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

The first quality issue is now solved (columns with NaN values).

*Define*

Now I will change the column name `floofer` to `floof`.

*Code*

In [40]:
arch_clean = arch_clean.rename(columns={'floofer':'floof'})

*Test*

In [41]:
arch_clean.head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floof,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

The second quality issue is now solved (*floofer* should be *floof*).

*Define*

Now I will replace all instances of *floofer* to *floof*.

*Code*

In [42]:
arch_clean = arch_clean.replace({'floof': {'floofer': 'floof'}})

*Test*

In [43]:
arch_clean.floof.value_counts()

None     2087
floof      10
Name: floof, dtype: int64

*Define*

Different dog stages columns have *None* values (*doggo*, *floof*, *pupper*, *puppo*). I'll replace them with empty strings.

*Code*

In [44]:
arch_clean.doggo.replace('None', '', inplace=True)
arch_clean.floof.replace('None', '', inplace=True)
arch_clean.pupper.replace('None', '', inplace=True)
arch_clean.puppo.replace('None', '', inplace=True)

*Test*

In [45]:
arch_clean.doggo.str.count('').sum()

2512

In [46]:
arch_clean.floof.str.count('').sum()

2147

In [47]:
arch_clean.pupper.str.count('').sum()

3477

In [48]:
arch_clean.puppo.str.count('').sum()

2217

*Define*

Now I will put all dog stages into one column (that is, `doggo`, `floof`, `pupper`, `puppo` inside a new `stages` column).

*Code*

In [49]:
arch_clean['stage'] = arch_clean.doggo + arch_clean.floof + arch_clean.pupper + arch_clean.puppo

In [50]:
arch_clean.stage.value_counts()

               1761
pupper          221
doggo            72
puppo            23
floof             9
doggopupper       9
doggopuppo        1
doggofloof        1
Name: stage, dtype: int64

In [51]:
arch_clean.loc[arch_clean.stage == 'doggopupper', 'stage'] = 'doggo,pupper'
arch_clean.loc[arch_clean.stage == 'doggofloof', 'stage'] = 'doggo,floof'
arch_clean.loc[arch_clean.stage == 'doggopuppo', 'stage'] = 'doggo,puppo'

In [52]:
arch_clean.loc[arch_clean.stage == '', 'stage'] = np.nan

In [53]:
arch_clean.drop(['doggo', 'floof', 'pupper', 'puppo'], axis=1, inplace=True)

*Test*

In [54]:
arch_clean.stage.value_counts()

pupper          221
doggo            72
puppo            23
floof             9
doggo,pupper      9
doggo,puppo       1
doggo,floof       1
Name: stage, dtype: int64

*Define*

Now I will change `timestamp` dtype to datetime64.

*Code*

In [55]:
arch_clean.timestamp = pd.to_datetime(arch_clean.timestamp)

*Test*

In [56]:
arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2097 non-null   int64
 1   timestamp            2097 non-null   datetime64[ns, UTC]
 2   source               2097 non-null   object
 3   text                 2097 non-null   object
 4   retweeted_status_id  0 non-null      float64
 5   expanded_urls        2094 non-null   object
 6   rating_numerator     2097 non-null   int64
 7   rating_denominator   2097 non-null   int64
 8   name                 2097 non-null   object
 9   stage                336 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(5)
memory usage: 180.2+ KB

*Define*

In the `name` column there are a lot of missing values (*None*) and some values that don't make sense (like *a*). To fix it I'll convert all dog names that start with lowercase to NaN.

*Code*

In [57]:
mask = arch_clean.name.str.islower()
column_name = 'name'
arch_clean.loc[mask, column_name] = np.nan

*Test*

In [58]:
arch_clean.name.value_counts()

None        603
Lucy         11
Charlie      11
Cooper       10
Oliver       10
           ...
Mo            1
Ivar          1
Traviss       1
Derby         1
Napolean      1
Name: name, Length: 930, dtype: int64

*Define*

`tweet_id` should be *object* dtype.

*Code*

In [59]:
arch_clean.tweet_id = arch_clean.tweet_id.astype('object')

*Test*

In [60]:
arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2097 non-null   object
 1   timestamp            2097 non-null   datetime64[ns, UTC]
 2   source               2097 non-null   object
 3   text                 2097 non-null   object
 4   retweeted_status_id  0 non-null      float64
 5   expanded_urls        2094 non-null   object
 6   rating_numerator     2097 non-null   int64
 7   rating_denominator   2097 non-null   int64
 8   name                 1993 non-null   object
 9   stage                336 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(6)
memory usage: 180.2+ KB

### `images_clean` / `images`

*Define*

Columns *p1*, *p2* and *p3* from `images` table have uppercase and lowercase values inconsistently. I'll convert all names to lowercase.

*Code*

In [61]:
images_clean.p1 = images_clean.p1.str.lower()
images_clean.p2 = images_clean.p2.str.lower()
images_clean.p3 = images_clean.p3.str.lower()

*Test*

In [62]:
images_clean.p1.str.isupper().any()

False

In [63]:
images_clean.p2.str.isupper().any()

False

In [64]:
images_clean.p3.str.isupper().any()

False

### `tweet_clean` / `tweet_count`

*Define*

In the table `tweet_clean`, `id_str` is not a clear name. I'll change it for it to be equal to the id column name in the other tables (`tweet_id`).

*Code*

In [65]:
tweet_clean = tweet_clean.rename(columns={'id_str': 'tweet_id'})

*Test*

In [66]:
tweet_clean.head(2)

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819

## Tidiness

*Describe*

`source` (from `df_twit_arch` table) has too much information in it, and it's too cluttered. It has HTML tags, URL and content in one column.

*Code*

In [67]:
# First I'll remove all HTML tags and save the new sources and the urls in new lists.

new_source = []
new_source_url = []

for value in arch_clean.source:
    new_source.append(value.split('</a')[0].split('<a href="')[1].split('" rel="nofollow"')[1].split('>')[1])
    new_source_url.append(value.split('</a')[0].split('<a href="')[1].split('" rel="nofollow"')[0])

In [68]:
# Now I'll update the old source column and put the new values

arch_clean.source = new_source

# And append a new column with source_url new values

arch_clean['source_url'] = new_source_url

*Test*

In [69]:
arch_clean.source.head()

0    Twitter for iPhone
1    Twitter for iPhone
2    Twitter for iPhone
3    Twitter for iPhone
4    Twitter for iPhone
Name: source, dtype: object

In [70]:
arch_clean['source_url'].head()

0    http://twitter.com/download/iphone
1    http://twitter.com/download/iphone
2    http://twitter.com/download/iphone
3    http://twitter.com/download/iphone
4    http://twitter.com/download/iphone
Name: source_url, dtype: object

In [71]:
arch_clean.source.value_counts()

Twitter for iPhone     1964
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

In [72]:
arch_clean['source_url'].value_counts()

http://twitter.com/download/iphone              1964
http://vine.co                                    91
http://twitter.com                                31
https://about.twitter.com/products/tweetdeck      11
Name: source_url, dtype: int64

*Define*

`tweet_count` should merge with `df_twit_arch`. The data in those tables is related.

*Code*

In [74]:
arch_clean_tweet_ids = arch_clean.tweet_id.values

In [76]:
[x for x in images_clean.tweet_id.values if x in arch_clean_tweet_ids]

[666020888022790149,
 666029285002620928,
 666033412701032449,
 666044226329800704,
 666049248165822465,
 666050758794694657,
 666051853826850816,
 666055525042405380,
 666057090499244032,
 666058600524156928,
 666063827256086533,
 666071193221509120,
 666073100786774016,
 666082916733198337,
 666094000022159362,
 666099513787052032,
 666102155909144576,
 666104133288665088,
 666268910803644416,
 666273097616637952,
 666287406224695296,
 666293911632134144,
 666337882303524864,
 666345417576210432,
 666353288456101888,
 666362758909284353,
 666373753744588802,
 666396247373291520,
 666407126856765440,
 666411507551481857,
 666418789513326592,
 666421158376562688,
 666428276349472768,
 666430724426358785,
 666435652385423360,
 666437273139982337,
 666447344410484738,
 666454714377183233,
 666644823164719104,
 666649482315059201,
 666691418707132416,
 666701168228331520,
 666739327293083650,
 666776908487630848,
 666781792255496192,
 666786068205871104,
 666804364988780544,
 666817836334096384,
 666826780179869698,
 666835007768551424,
 666837028449972224,
 666983947667116034,
 666996132027977728,
 667012601033924608,
 667044094246576128,
 667062181243039745,
 667065535570550784,
 667073648344346624,
 667090893657276420,
 667119796878725120,
 667138269671505920,
 667152164079423490,
 667160273090932737,
 667165590075940865,
 667171260800061440,
 667174963120574464,
 667176164155375616,
 667177989038297088,
 667182792070062081,
 667188689915760640,
 667192066997374976,
 667200525029539841,
 667211855547486208,
 667369227918143488,
 667393430834667520,
 667405339315146752,
 667435689202614272,
 667437278097252352,
 667443425659232256,
 667453023279554560,
 667455448082227200,
 667470559035432960,
 667491009379606528,
 667495797102141441,
 667502640335572993,
 667509364010450944,
 667517642048163840,
 667524857454854144,
 667530908589760512,
 667534815156183040,
 667538891197542400,
 667544320556335104,
 667546741521195010,
 667549055577362432,
 667724302356258817,
 667728196545200128,
 667766675769573376,
 667773195014021121,
 667782464991965184,
 667793409583771648,
 667801013445750784,
 667806454573760512,
 667832474953625600,
 667861340749471744,
 667866724293877760,
 667873844930215936,
 667878741721415682,
 667885044254572545,
 667886921285246976,
 667902449697558528,
 667911425562669056,
 667915453470232577,
 667924896115245057,
 667937095915278337,
 668113020489474048,
 668142349051129856,
 668154635664932864,
 668171859951755264,
 668190681446379520,
 668204964695683073,
 668221241640230912,
 668226093875376128,
 668237644992782336,
 668248472370458624,
 668256321989451776,
 668268907921326080,
 668274247790391296,
 668286279830867968,
 668291999406125056,
 668297328638447616,
 668466899341221888,
 668480044826800133,
 668484198282485761,
 668496999348633600,
 668507509523615744,
 668528771708952576,
 668537837512433665,
 668542336805281792,
 668544745690562560,
 668567822092664832,
 668614819948453888,
 668620235289837568,
 668623201287675904,
 668625577880875008,
 668627278264475648,
 668631377374486528,
 668633411083464705,
 668636665813057536,
 668641109086707712,
 668643542311546881,
 668645506898350081,
 668655139528511488,
 668779399630725120,
 668815180734689280,
 668826086256599040,
 668852170888998912,
 668872652652679168,
 668892474547511297,
 668902994700836864,
 668932921458302977,
 668955713004314625,
 668960084974809088,
 668975677807423489,
 668979806671884288,
 668981893510119424,
 668986018524233728,
 668988183816871936,
 668989615043424256,
 668992363537309700,
 668994913074286592,
 669000397445533696,
 669006782128353280,
 669015743032369152,
 669037058363662336,
 669203728096960512,
 669214165781868544,
 669216679721873412,
 669324657376567296,
 669327207240699904,
 669328503091937280,
 669351434509529089,
 669354382627049472,
 669359674819481600,
 669363888236994561,
 669367896104181761,
 669371483794317312,
 669375718304980992,
 669393256313184256,
 669564461267722241,
 669567591774625800,
 669571471778410496,
 669573570759163904,
 669583744538451968,
 669597912108789760,
 669603084620980224,
 669625907762618368,
 669661792646373376,
 669680153564442624,
 669682095984410625,
 669683899023405056,
 669749430875258880,
 669753178989142016,
 669923323644657664,
 669926384437997569,
 669942763794931712,
 669970042633789440,
 669972011175813120,
 669993076832759809,
 670003130994700288,
 670037189829525505,
 670040295598354432,
 670046952931721218,
 670055038660800512,
 670061506722140161,
 670069087419133954,
 670073503555706880,
 670079681849372674,
 670086499208155136,
 670093938074779648,
 670290420111441920,
 670303360680108032,
 670319130621435904,
 670338931251150849,
 670361874861563904,
 670374371102445568,
 670385711116361728,
 670403879788544000,
 670408998013820928,
 670411370698022913,
 670417414769758208,
 670420569653809152,
 670421925039075328,
 670427002554466305,
 670428280563085312,
 670433248821026816,
 670434127938719744,
 670435821946826752,
 670442337873600512,
 670444955656130560,
 670449342516494336,
 670452855871037440,
 670465786746662913,
 670468609693655041,
 670474236058800128,
 670668383499735048,
 670676092097810432,
 670679630144274432,
 670691627984359425,
 670704688707301377,
 670717338665226240,
 670727704916926465,
 670733412878163972,
 670755717859713024,
 670764103623966721,
 670778058496974848,
 670780561024270336,
 670782429121134593,
 670783437142401025,
 670786190031921152,
 670789397210615808,
 670792680469889025,
 670797304698376195,
 670803562457407488,
 670804601705242624,
 670807719151067136,
 670811965569282048,
 670815497391357952,
 670822709593571328,
 670823764196741120,
 670826280409919488,
 670832455012716544,
 670833812859932673,
 670838202509447168,
 670840546554966016,
 670842764863651840,
 670995969505435648,
 671109016219725825,
 671115716440031232,
 671122204919246848,
 671134062904504320,
 671138694582165504,
 671141549288370177,
 671147085991960577,
 671151324042559489,
 671154572044468225,
 671159727754231808,
 671163268581498880,
 671166507850801152,
 671182547775299584,
 671186162933985280,
 671347597085433856,
 671355857343524864,
 671357843010908160,
 671362598324076544,
 671390180817915904,
 671485057807351808,
 671486386088865792,
 671488513339211776,
 671497587707535361,
 671504605491109889,
 671511350426865664,
 671518598289059840,
 671520732782923777,
 671528761649688577,
 671533943490011136,
 671536543010570240,
 671538301157904385,
 671542985629241344,
 671544874165002241,
 671547767500775424,
 671561002136281088,
 671735591348891648,
 671743150407421952,
 671744970634719232,
 671763349865160704,
 671768281401958400,
 671789708968640512,
 671855973984772097,
 671866342182637568,
 671874878652489728,
 671879137494245376,
 671882082306625538,
 671891728106971137,
 671896809300709376,
 672068090318987265,
 672082170312290304,
 672095186491711488,
 672125275208069120,
 672139350159835138,
 672160042234327040,
 672169685991993344,
 672205392827572224,
 672222792075620352,
 672231046314901505,
 672239279297454080,
 672245253877968896,
 672248013293752320,
 672254177670729728,
 672256522047614977,
 672264251789176834,
 672267570918129665,
 672272411274932228,
 672466075045466113,
 672475084225949696,
 672481316919734272,
 672482722825261057,
 672488522314567680,
 672523490734551040,
 672538107540070400,
 672591271085670400,
 672591762242805761,
 672594978741354496,
 672604026190569472,
 672609152938721280,
 672614745925664768,
 672622327801233409,
 672640509974827008,
 672828477930868736,
 672834301050937345,
 672877615439593473,
 672884426393653248,
 672898206762672129,
 672902681409806336,
 672964561327235073,
 672968025906282496,
 672970152493887488,
 672975131468300288,
 672980819271634944,
 672984142909456390,
 672988786805112832,
 672995267319328768,
 672997845381865473,
 673148804208660480,
 673213039743795200,
 673240798075449344,
 673270968295534593,
 673295268553605120,
 673317986296586240,
 673320132811366400,
 673342308415348736,
 673343217010679808,
 673345638550134785,
 673350198937153538,
 673352124999274496,
 673355879178194945,
 673359818736984064,
 673363615379013632,
 673576835670777856,
 673580926094458881,
 673583129559498752,
 673612854080196609,
 673636718965334016,
 673656262056419329,
 673662677122719744,
 673680198160809984,
 673686845050527744,
 673688752737402881,
 673689733134946305,
 673697980713705472,
 673700254269775872,
 673705679337693185,
 673707060090052608,
 673708611235921920,
 673709992831262724,
 673711475735838725,
 673715861853720576,
 673887867907739649,
 673906403526995968,
 673919437611909120,
 673956914389192708,
 674008982932058114,
 674014384960745472,
 674019345211760640,
 674024893172875264,
 674036086168010753,
 674038233588723717,
 674042553264685056,
 674045139690631169,
 674051556661161984,
 674053186244734976,
 674063288070742018,
 674075285688614912,
 674082852460433408,
 674255168825880576,
 674262580978937856,
 674265582246694913,
 674269164442398721,
 674271431610523648,
 674291837063053312,
 674318007229923329,
 674372068062928900,
 674394782723014656,
 674410619106390016,
 674416750885273600,
 674422304705744896,
 674436901579923456,
 674447403907457024,
 674468880899788800,
 674632714662858753,
 674638615994089473,
 674644256330530816,
 674646392044941312,
 674664755118911488,
 674670581682434048,
 674690135443775488,
 674737130913071104,
 674739953134403584,
 674743008475090944,
 674752233200820224,
 674764817387900928,
 674767892831932416,
 674774481756377088,
 674781762103414784,
 674788554665512960,
 674790488185167872,
 674800520222154752,
 674805413498527744,
 675003128568291329,
 675006312288268288,
 675015141583413248,
 675047298674663426,
 675109292475830276,
 675111688094527488,
 675113801096802304,
 675135153782571009,
 675145476954566656,
 675146535592706048,
 675147105808306176,
 675149409102012420,
 675153376133427200,
 675166823650848770,
 675334060156301312,
 675354435921575936,
 675362609739206656,
 675372240448454658,
 675432746517426176,
 675483430902214656,
 675489971617296384,
 675497103322386432,
 675501075957489664,
 675517828909424640,
 675522403582218240,
 675531475945709568,
 675534494439489536,
 675706639471788032,
 675710890956750848,
 675740360753160193,
 675781562965868544,
 675798442703122432,
 675820929667219457,
 675822767435051008,
 675845657354215424,
 675853064436391936,
 675878199931371520,
 675888385639251968,
 675891555769696257,
 675898130735476737,
 676089483918516224,
 676098748976615425,
 676101918813499392,
 676146341966438401,
 676191832485810177,
 676215927814406144,
 676219687039057920,
 676237365392908289,
 676263575653122048,
 676430933382295552,
 676440007570247681,
 676470639084101634,
 676496375194980353,
 676533798876651520,
 676575501977128964,
 676582956622721024,
 676588346097852417,
 676603393314578432,
 676606785097199616,
 676613908052996102,
 676617503762681856,
 676776431406465024,
 676811746707918848,
 676819651066732545,
 676821958043033607,
 676864501615042560,
 676897532954456065,
 676936541936185344,
 676942428000112642,
 676946864479084545,
 676948236477857792,
 676949632774234114,
 676957860086095872,
 676975532580409345,
 677187300187611136,
 677228873407442944,
 677269281705472000,
 677301033169788928,
 677314812125323265,
 677328882937298944,
 677331501395156992,
 677334615166730240,
 677530072887205888,
 677547928504967168,
 677557565589463040,
 677565715327688705,
 677573743309385728,
 677644091929329666,
 677662372920729601,
 677673981332312066,
 677687604918272002,
 677698403548192770,
 677700003327029250,
 677716515794329600,
 677895101218201600,
 677918531514703872,
 678021115718029313,
 678255464182861824,
 678278586130948096,
 678334497360859136,
 678341075375947776,
 678380236862578688,
 678389028614488064,
 678396796259975168,
 678399652199309312,
 678410210315247616,
 678424312106393600,
 678446151570427904,
 678643457146150913,
 678675843183484930,
 678740035362037760,
 678755239630127104,
 678764513869611008,
 678767140346941444,
 678774928607469569,
 678798276842360832,
 678800283649069056,
 678969228704284672,
 678991772295516161,
 679047485189439488,
 679062614270468097,
 679111216690831360,
 679132435750195208,
 679148763231985668,
 679158373988876288,
 679462823135686656,
 679475951516934144,
 679503373272485890,
 679511351870550016,
 679527802031484928,
 679530280114372609,
 679722016581222400,
 679729593985699840,
 679736210798047232,
 679777920601223168,
 679828447187857408,
 679844490799091713,
 679854723806179328,
 679862121895714818,
 679877062409191424,
 680055455951884288,
 680070545539371008,
 680085611152338944,
 680100725817409536,
 680115823365742593,
 680130881361686529,
 680145970311643136,
 680161097740095489,
 680176173301628928,
 680191257256136705,
 680206703334408192,
 680221482581123072,
 680440374763077632,
 680473011644985345,
 680494726643068929,
 680497766108381184,
 680583894916304897,
 680609293079592961,
 680798457301471234,
 680801747103793152,
 680836378243002368,
 680889648562991104,
 680913438424612864,
 680934982542561280,
 680940246314430465,
 680959110691590145,
 680970795137544192,
 681193455364796417,
 681231109724700672,
 681242418453299201,
 681261549936340994,
 681281657291280384,
 681297372102656000,
 681302363064414209,
 681320187870711809,
 681339448655802368,
 681523177663676416,
 681579835668455424,
 681610798867845120,
 681654059175129088,
 681679526984871937,
 681694085539872773,
 681891461017812993,
 681981167097122816,
 682003177596559360,
 682032003584274432,
 682047327939461121,
 682059653698686977,
 682242692827447297,
 682259524040966145,
 682303737705140231,
 682389078323662849,
 682393905736888321,
 682406705142087680,
 682429480204398592,
 682638830361513985,
 682662431982772225,
 682697186228989953,
 682750546109968385,
 682788441537560576,
 682962037429899265,
 683030066213818368,
 683078886620553216,
 683098815881154561,
 683111407806746624,
 683142553609318400,
 683357973142474752,
 683391852557561860,
 683449695444799489,
 683462770029932544,
 683481228088049664,
 683498322573824003,
 683742671509258241,
 683773439333797890,
 683828599284170753,
 683834909291606017,
 683849932751646720,
 683852578183077888,
 683857920510050305,
 684097758874210310,
 684122891630342144,
 684177701129875456,
 684188786104872960,
 684195085588783105,
 684200372118904832,
 684222868335505415,
 684241637099323392,
 684460069371654144,
 684481074559381504,
 684567543613382656,
 684594889858887680,
 684800227459624960,
 684880619965411328,
 684902183876321280,
 684914660081053696,
 684926975086034944,
 684940049151070208,
 684959798585110529,
 685169283572338688,
 685198997565345792,
 685268753634967552,
 685307451701334016,
 685315239903100929,
 685321586178670592,
 685325112850124800,
 685532292383666176,
 685547936038666240,
 685641971164143616,
 685663452032069632,
 685667379192414208,
 685906723014619143,
 685943807276412928,
 685973236358713344,
 686003207160610816,
 686007916130873345,
 686034024800862208,
 686050296934563840,
 686358356425093120,
 686377065986265092,
 686386521809772549,
 686606069955735556,
 686618349602762752,
 686683045143953408,
 686730991906516992,
 686749460672679938,
 686947101016735744,
 687096057537363968,
 687102708889812993,
 687109925361856513,
 687124485711986689,
 687127927494963200,
 687312378585812992,
 687317306314240000,
 687460506001633280,
 687476254459715584,
 687480748861947905,
 687494652870668288,
 687664829264453632,
 687704180304273409,
 687807801670897665,
 687818504314159109,
 687826841265172480,
 688064179421470721,
 688116655151435777,
 688179443353796608,
 688211956440801280,
 688385280030670848,
 688519176466644993,
 688547210804498433,
 688789766343622656,
 688804835492233216,
 688828561667567616,
 688894073864884227,
 688898160958271489,
 688908934925697024,
 688916208532455424,
 689143371370250240,
 689154315265683456,
 689275259254616065,
 689280876073582592,
 689283819090870273,
 689289219123089408,
 689517482558820352,
 689557536375177216,
 689599056876867584,
 689623661272240129,
 689659372465688576,
 689661964914655233,
 689835978131935233,
 689877686181715968,
 689905486972461056,
 689977555533848577,
 689999384604450816,
 690005060500217858,
 690015576308211712,
 690021994562220032,
 690248561355657216,
 690360449368465409,
 690374419777196032,
 690400367696297985,
 690597161306841088,
 690649993829576704,
 690690673629138944,
 690728923253055490,
 690735892932222976,
 690932576555528194,
 690938899477221376,
 690959652130045952,
 691090071332753408,
 691096613310316544,
 691321916024623104,
 691416866452082688,
 691444869282295808,
 691459709405118465,
 691483041324204033,
 691675652215414786,
 691756958957883396,
 691820333922455552,
 692017291282812928,
 692158366030913536,
 692187005137076224,
 692417313023332352,
 692530551048294401,
 692535307825213440,
 692568918515392513,
 692752401762250755,
 692828166163931137,
 692894228850999298,
 692901601640583168,
 692905862751522816,
 692919143163629568,
 693095443459342336,
 693109034023534592,
 693155686491000832,
 693231807727280129,
 693262851218264065,
 693280720173801472,
 693486665285931008,
 693590843962331137,
 693622659251335168,
 693629975228977152,
 693642232151285760,
 693647888581312512,
 693942351086120961,
 694001791655137281,
 694183373896572928,
 694206574471057408,
 694329668942569472,
 694352839993344000,
 694669722378485760,
 694905863685980160,
 695051054296211456,
 695064344191721472,
 695074328191332352,
 695095422348574720,
 695314793360662529,
 695409464418041856,
 695446424020918272,
 695629776980148225,
 695794761660297217,
 695816827381944320,
 696405997980676096,
 696488710901260288,
 696713835009417216,
 696754882863349760,
 696877980375769088,
 696886256886657024,
 696894894812565505,
 696900204696625153,
 697242256848379904,
 697255105972801536,
 697259378236399616,
 697270446429966336,
 697463031882764288,
 697482927769255936,
 697575480820686848,
 697596423848730625,
 697616773278015490,
 697881462549430272,
 697943111201378304,
 697990423684476929,
 697995514407682048,
 698178924120031232,
 698195409219559425,
 698262614669991936,
 698342080612007937,
 698355670425473025,
 698549713696649216,
 698635131305795584,
 698703483621523456,
 698710712454139905,
 698907974262222848,
 698953797952008193,
 698989035503689728,
 699036661657767936,
 699072405256409088,
 699079609774645248,
 699088579889332224,
 699323444782047232,
 699370870310113280,
 699413908797464576,
 699423671849451520,
 699434518667751424,
 699446877801091073,
 699691744225525762,
 699775878809702401,
 699779630832685056,
 699788877217865730,
 699801817392291840,
 700002074055016451,
 700029284593901568,
 700062718104104960,
 700143752053182464,
 700151421916807169,
 700167517596164096,
 700462010979500032,
 700505138482569216,
 700518061187723268,
 700747788515020802,
 700796979434098688,
 700847567345688576,
 700864154249383937,
 700890391244103680,
 701214700881756160,
 701545186879471618,
 701570477911896070,
 701601587219795968,
 701889187134500865,
 701952816642965504,
 701981390485725185,
 702217446468493312,
 702276748847800320,
 702321140488925184,
 702539513671897089,
 702598099714314240,
 702671118226825216,
 702684942141153280,
 702932127499816960,
 703041949650034688,
 703079050210877440,
 703268521220972544,
 703356393781329922,
 703382836347330562,
 703407252292673536,
 703611486317502464,
 703631701117943808,
 703769065844768768,
 703774238772166656,
 704054845121142784,
 704113298707505153,
 704347321748819968,
 704364645503647744,
 704480331685040129,
 704499785726889984,
 704761120771465216,
 704819833553219584,
 704847917308362754,
 704859558691414016,
 705066031337840642,
 705102439679201280,
 705223444686888960,
 705239209544720384,
 705428427625635840,
 705442520700944385,
 705475953783398401,
 705591895322394625,
 705898680587526145,
 705970349788291072,
 705975130514706432,
 706166467411222528,
 706265994973601792,
 706291001778950144,
 706310011488698368,
 706346369204748288,
 706516534877929472,

In [81]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB

In [77]:
tweet_clean.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

In [80]:
arch_clean.head()

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,stage,source_url
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,http://twitter.com/download/iphone
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,This is Tilly. She's just checking pup on you....,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,http://twitter.com/download/iphone
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,http://twitter.com/download/iphone
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,http://twitter.com/download/iphone
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,This is Franklin. He would like you to stop ca...,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,http://twitter.com/download/iphone

In [82]:
arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2097 non-null   object
 1   timestamp            2097 non-null   datetime64[ns, UTC]
 2   source               2097 non-null   object
 3   text                 2097 non-null   object
 4   retweeted_status_id  0 non-null      float64
 5   expanded_urls        2094 non-null   object
 6   rating_numerator     2097 non-null   int64
 7   rating_denominator   2097 non-null   int64
 8   name                 1993 non-null   object
 9   stage                336 non-null    object
 10  source_url           2097 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(7)
memory usage: 196.6+ KB

In [ ]:
new_arch_clean = pd.merge(left = arch_clean, right = tweet_clean, left_on='tweet_id', right_on='tweet_id' , how= 'inner')

*Test*

In [ ]:
new_arch_clean.head()

In [ ]:
new_arch_clean.retweet_count.value_counts()